<nav class="navbar navbar-dark bg-dark">
  <%= link_to 'Index' , todos_path, class:'btn btn-light'%>
  <%= link_to 'List' , todos_list_path, class:'btn btn-light'%>
  <%= link_to 'New Todo' , todos_new_path, class:'btn btn-light'%>
</nav>
